.root{
	-fx-background-color:  #f8f8ff;
}

.text-field-error {
  -fx-text-box-border: red ;
  -fx-focus-color: red ;
}

.check-box-error {
	-fx-border-color: red;
	-fx-focus-color: red ;
	-fx-border-insets: -5.0;
	-fx-border-style: dotted;
	-fx-border-radius: 5.0;
	-fx-border-width: 2.0;
}

.label-grid{
  -fx-border-radius: 10.0 10.0 0.0 0.0;
  -fx-background-radius: 10.0 10.0 0.0 0.0;
  }